# =====================
# Grafana
# =====================
grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin

  nodeSelector:
    node-role.kubernetes.io/worker: "true"

  service:
    type: NodePort
    port: 80
    targetPort: 3000
    nodePort: 32000


# =====================
# Prometheus Operator
# =====================
prometheusOperator:
  enabled: true
  createCustomResource: true

  nodeSelector:
    node-role.kubernetes.io/worker: "true"

  service:
    type: ClusterIP


# =====================
# Prometheus
# =====================
prometheus:
  service:
    type: NodePort
    port: 80
    targetPort: 9090
    nodePort: 32090

  prometheusSpec:
    nodeSelector:
      node-role.kubernetes.io/worker: "true"

    serviceMonitorSelectorNilUsesHelmValues: false
    retention: 10d

    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi


# =====================
# Node Exporter
# =====================
prometheus-node-exporter:
  enabled: true


# =====================
# kube-state-metrics
# =====================
kube-state-metrics:
  enabled: true

  nodeSelector:
    node-role.kubernetes.io/worker: "true"


# =====================
# Alertmanager
# =====================
alertmanager:
  alertmanagerSpec:
    replicas: 1

    nodeSelector:
      node-role.kubernetes.io/worker: "true"
