[defaults]
# Inventory
inventory = inventory

# Enable inventory plugins
enable_plugins = amazon.aws.aws_ec2, yaml, ini

# Output
stdout_callback = default
bin_ansible_callbacks = True

# Performance
forks = 10
gathering = smart

# Fact caching (safe in Jenkins)
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 7200

# Security / automation
host_key_checking = False
retry_files_enabled = False

# Paths
roles_path = roles
collections_path = ~/.ansible/collections

# Logging (CI-safe)
log_path = /tmp/ansible.log

# Python
interpreter_python = /usr/bin/python3

# Noise reduction
deprecation_warnings = False
command_warnings = False



[inventory]
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]
pipelining = True
