[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False
remote_tmp = /tmp/.ansible
stdout_callback = default
interpreter_python = auto

[privilege_escalation]
become = False


[connection_aws_ssm]
region = ap-south-1
ansible_aws_ssm_bucket_name = oneclick-terraform.tf-nat
