global:
  security:
    allowInsecureImages: true

image:
  registry: quay.io
  repository: thanos/thanos
  tag: v0.40.1
  pullPolicy: IfNotPresent

query:
  enabled: true
  replicaCount: 1

  dnsDiscovery:
    enabled: true
    sidecarsService: monitoring-kube-prometheus-thanos-discovery
    sidecarsNamespace: monitoring

queryFrontend:
  enabled: true
  service:
    type: NodePort
    ports:
      http: 9090
    nodePorts:
      http: 30900
