global:
  security:
    allowInsecureImages: true

image:
  registry: quay.io
  repository: thanos/thanos
  tag: v0.40.1
  pullPolicy: IfNotPresent

query:
  enabled: true
  replicaCount: 1

  tolerations:
    - operator: Exists

  # IMPORTANT: static store discovery (correct)
  stores:
    - monitoring-kube-prometheus-thanos-discovery.monitoring.svc.cluster.local:10901

  # Give Thanos enough resources (prevents slow UI)
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: "1"
      memory: 2Gi

queryFrontend:
  enabled: true

  # Pin frontend to server as well
  nodeSelector:
    role: server

  service:
    type: NodePort
    ports:
      http: 9090
    nodePorts:
      http: 30900
